{% extends "layout.html" %}

{% block body %}
<h3 style="font-family: Helvetica; font-weight:lighter">Find specific moments in YouTube videos by searching for phrases in their closed-captions.</h3>

<div class="searchform">
  <form method="POST">
          <input name="link" placeholder="Enter YouTube Link" size='40'>
          <br><br>
          <input name="search_term" placeholder="Enter Search Term" size='40'>
          <br><br>
          <input type="submit">

  </form>
</div>
{% endblock %}
