<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Search YouTube Captions!</title>
  <script data-ad-client="ca-pub-4953006034854909" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {% block script %}
  {% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="icon" href="static/images/ccfavicon.png">
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>

<body>

  <header id='topbar'>
      <form action='/'>
        <input id="logo" type="image" src="static/images/logo.png" alt="CCSearch">
      </form>
      <!--

      <h1 id="logotext" style="font-family: Helvetica; font-weight:lighter">Search the captions of YouTube videos!</h1>
    -->

      {% block header %}
      {% endblock %}
  </header>
  <div class="maindiv">
      {% block body %}
      {% endblock %}
  </div>
</body>

</html>
